@use "~@angular/material" as mat;

@include mat.core();

@import "/src/app/app.component.theme.scss";
@import "/src/app/components/card/card.component.theme.scss";

$angular-material-theme-primary: mat.define-palette(mat.$indigo-palette);
$angular-material-theme-accent: mat.define-palette(mat.$pink-palette);
$angular-material-theme-warn: mat.define-palette(mat.$red-palette);

$theme-light: mat.define-light-theme(
  (
    color: (
      primary: $angular-material-theme-primary,
      accent: $angular-material-theme-accent,
      warn: $angular-material-theme-warn,
    ),
  )
);

$theme-dark: mat.define-dark-theme(
  (
    color: (
      primary: $angular-material-theme-primary,
      accent: $angular-material-theme-accent,
      warn: $angular-material-theme-warn,
    ),
  )
);

.theme-light {
  @include mat.all-component-themes($theme-light);
  @include app-root-theme($theme-light);
  @include card-theme($theme-light);
}

.theme-dark {
  @include mat.all-component-themes($theme-dark);
  @include app-root-theme($theme-dark);
  @include card-theme($theme-dark);
}
